.jumbotron {
  margin-top: 0;
  text-align: center;
  font-size: 500%;
  background-color: #abb703;
  padding-bottom: 20vh;
  color: #eeff02;
  padding-top: 15vh;

}

h1 {
  border-width: thick: thin;
  border-color: #eeff02;
}

aside {
  text-align: right;
  float:right;
  background-color: #abb703;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #eeff02;

}
